<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackdemo">

    <!--近似定位权限。网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--精准定位权限。GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".lifecycler.MyLifeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPackDemo">
        <activity
            android:name=".dataBinding.db04Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".lifecycler.GPSService" />

    </application>

</manifest>